



.form-container {

  border: 2px solid #000000;
  padding: 40px;
  width: 200px;

}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
  }

  