
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: (zzs.jpg);
}

.formule {
    width: 400px;
    background-color: black;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: azure;
    box-shadow: 7px 13px 37px #1f1f1f;
}

.formule h4 {
    font-size: 22px;
    margin-bottom: 20px;
}

.llama {
    width: 100%;
    background-color: rgb(24, 24, 23);
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #1f1f1f;
    margin-bottom: 16px;
    font-family: 'calibri';
    font-size: 18px;
    color: azure;
}

.formule p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;

}

.formule a {
    color: aliceblue;
    text-decoration: none;
}

.formule a:hover {
    color: aliceblue;
    text-decoration: underline;
}

.formule .botons {
    width: 100%;
    background-color: brown;
    border: none;
    padding: 12px;
    color: aliceblue;
    margin: 16px 0;
    font-size: 16px;
}

#botones {
    background-color: red;
    color: azure;
}
